:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

header {
  border: 5px solid #f0ede8;
  padding: 50px;
  background-color: rgba(127, 255, 212, 0.637);
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  color: brown;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #f700b9;
}

h1{
  font-size: 4.5rem;
  line-height: 1.1;
}

h2{
  font-size: 3.2em;
  line-height: 1.1;
}

p{
  font-size: 1.5em;
  margin-top: 4rem;
  margin-bottom: 0;
}


